/* ---- General Styles --- */
.container {
  padding: 1.5rem;
}
.margin-bottom {
  margin-bottom: 2.25rem;
}
.margin-bottom-small {
  margin-bottom: 1.5rem;
}
.font-klein {
  font-size: 0.75rem !important;
}
.margin-right {
  margin-right: 0.75rem;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.spacer {
  height: 0.75rem;
}

/* ---- Bulma Modifikationen ---- */
.field:not(:last-child) {
  margin-bottom: 0.75rem;
}
form:not(:last-child) {
  margin-bottom: 2.25rem;
}
.subtitle {
  font-size: 0.75rem !important;
}
.has-addons, .is-grouped {
  margin-bottom: 0 !important;
}

/* ---- Navigation Section ---- */
.swoppy-img {
  height: 4rem;
  margin-right: 0.5rem;
}

.navigation {
  border-bottom: 1px;
  border-bottom: 1px solid #efefef;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #ffffff;
}
.navigation .container {
  padding: 0.5rem 0 !important;
}
.navbar-end {
  display: flex;
}

/* ---- Main Content Section ---- */
.main-content {
  padding-top: 4.5rem;
  padding-bottom: 10rem;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}
@media only screen and (min-width: 768px) {
.is-form {
  padding: 2.25rem;
  border: 1px solid #efefef;
}
.main-content {
  padding-top: 6rem !important;
}
}

/* ---- Footer Section ----*/
.floating-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8999;
  margin-bottom: 0 !important;
}
.gradient-helper {
    padding: 1.5rem 0;
  background-color: #ffffff;
}
.floating-footer:before {
  content:"";
  display: block;
  height: 5rem;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}


/* ---- Dashboard ---- */
.swop-card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0 1.5rem 1.5rem;
}
.swop-status {
  display: flex;
  justify-content: left;
  align-items: center;
}
.swop-status-icon {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50px;
  width: 50px !important;
  height: 50px !important;
  min-width: 50px;
  border-radius: 50%;
  background-color: #F39016;
  color: #ffffff;
}
.swop-status-switch-icons p i {
}
.swop-status-switch-icons p i {
  width: 30% !important;
}
.swop-course-group {
  font-size: 0.75rem !important;
}
.swop-status-course-from {
  margin-bottom: 0.75rem;
}
.swop-change {
  color: #F39016;
}
